{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>微分二重點整理</title>
  <link rel="stylesheet" href="{% static 'learning/css/def.css' %}">
</head>
<body>

  <h1 class="title">微分二重點整理</h1>
  <div class="container">
    <a href="/" class="back-home">⬅ 回首頁</a>
    {% for img in image_list %}
      <div class="image-card">
        <img src="{{ img }}" alt="重點圖">
      </div>
    {% endfor %}
  </div>
  

</body>
</html>
